*{
    margin: 0;
    padding: 0;
    background-image: ulr;

}

.list {
    display: flex;
    color: white;
    padding: 15px;
    justify-content: center;
    align-items: center;
    background-color: cyan;
    margin: 0px;
}

.list li{
    padding:20px;
    list-style-type: none;

}

.card{
    display: flex;
    width: fit-content;
    height: 400%;
    width: 100%;
}