* {
    margin: 0;
    padding: 0;
}

.list {
    display: flex;
    padding: 15px;
    justify-content: center;
    align-items: center;
    background-color: #1f2933;
}

.list a {
    text-decoration: none;
    color: white;
}

.list li {
    padding: 20px;
    list-style-type: none;
}

.details {
    text-align: center;
    background-color: #1f2933;;
    color: white;
}

.details button {
    height: 50px;
    width: 120px;
}

.details h1,
.details h3,
.details p,
.details button {
    padding: 10px 15px 10px;
}

.details p {
    font-size: 18px;
}

hr {
    border: none;
    border-top: 2px solid #000000;
    width: 10%;
    margin: 20px auto;
    align-items: flex-start;
}

.box {
    display: flex;
    align-items: space-between;
    color: white;
    background-color: #6b44d6eb;
}

.message {

    padding: 15px;
    justify-content: center;
    text-align: center;
    background-color: #1f2933;

}

.message h1,
.message h4,
.message p {

    padding: 10px 15px 30px;
}