* {
    margin: 0;
    padding: 0;
}

.list {
    display: flex;
    color: white;
    padding: 15px;
    justify-content: center;
    align-items: center;
    background-color: cyan;
    margin: 0px;
}

.list li {
    padding: 20px;
    list-style-type: none;
}
.details {
    text-align: center;
    background-color: gray;
    color: white;
}

.details button {
    height: 50px;
    width: 120px;  
}

.details h1 ,
.details h3,
.details p,
.details button {
    padding: 10px 15px 10px;
}
.details p{
    font-size: 18px;
}


hr {
  border: none; /* Removes default border */
  border-top: 5px solid #000000; /* Adds a solid top border (the line) */
  width: 10; /* Sets the length */
  margin: 20px auto; /* Centers the line and adds spacing */
}

}