* {
    margin: 0;
    padding: 0;

}

/* .container{
    background-image: url(gym.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
} */

.list {
    display: flex;
    color: white;
    padding: 15px;
    justify-content: center;
    align-items: center;
    background-color: cyan;
    margin: 0px;
}

.list li {
    padding: 20px;
    list-style-type: none;

}

/* .card{
    display: flex;
    width: fit-content;
    height: 400%;
    width: 100%;
} */

.details {
    text-align: center;
    background-color: gray;
    color: white;


}

.details button {
    height: 50px;
    width: 120px;
    
}

.details h1 ,
.details h3,
.details p,
.details button {
    padding: 10px 15px 1px;
}
.details p{
    font-size: 18px;
}