*{
    margin: 0;
    padding: 0;

}

.list {
    display: flex;
    color: white;
    padding: 15px;
    margin:10px;
    justify-content: center;
    align-items: center;
}

.list li{
    padding:15px;

}