*container{
    margin: 0;
    padding: 0;

}

.list {
    display: flex;
    color: white;
    padding: 15px;
    justify-content: center;
    align-items: center;
    background-color: cyan;
    
}

.list li{
    padding:20px;
    list-style-type: none;

}